<!-- About Section -->
<section class="success" id="about" class="hidethis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Embark on a transformative journey with Coach BNBW, the AI-powered wellness tool tailored for developers. 
           Whether you're a coding enthusiast, a seasoned professional, or someone passionate about
           enhancing developer well-being, this project is your gateway to a new era in tech care.</p>
      </div>
      <div class="col-lg-4">
        <p>Unlock the potential of data-driven decisions, delve into sentiment analysis, repetitiveness metrics, 
          commit velocity insights, and timings with a sleek interface and advanced capabilities. 
          Coach BNBW sets the stage for a revolutionary approach to nurturing developer wellness in the digital landscape. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://gitlab.com/coach-bnbw1/coach-bnbw#how-to-include-coach-bnbw-in-your-pipeline" class="btn btn-lg btn-outline">
          <i class="fa fa-play-circle"></i> Get Started!
        </a>
      </div>
    </div>
  </div>
</section>
