<!-- Contact Section -->
<section id="contact" class="hidethis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="disqus_thread"></div><!-- /#disqus_thread -->
      </div>
    </div>
  </div>
</section>
